<h2 mat-dialog-title>Modification du devoir</h2>
<mat-dialog-content class="dialog-content">
  <form 
    class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea class="example-full-width" name="description" rows="6" matInput [(ngModel)]="data.description" placeholder="..."></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fichier</mat-label>
      <input style="margin-top: 2%" type="file" id="image" name="image" required />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="button-footer">
  <button mat-button color="primary" [mat-dialog-close]="{data: data, action: 'validate'}"
    cdkFocusInitial>Valider</button>
  <button mat-button (click)="onNoClick()">Annuler</button>
</mat-dialog-actions>