<h2 mat-dialog-title>Modification du devoir</h2>
<mat-dialog-content class="dialog-content">
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea class="example-full-width" name="description" rows="6" matInput [(ngModel)]="data.description"
        placeholder="..." required="true"></textarea>
    </mat-form-field>
    <div class="file-container">
      <label class="file-label" >Pièce jointe</label>
      <input style="margin-top: 2%" type="file"(change)="selectFile($event)" id="file" name="file" required />
    </div>
</mat-dialog-content>
<mat-dialog-actions class="button-footer">
  <button mat-button color="primary" [mat-dialog-close]="{data: data, action: 'validate'}"
    cdkFocusInitial>Valider</button>
  <button mat-button (click)="onNoClick()">Annuler</button>
</mat-dialog-actions>