.detail_assignment{
  margin-bottom: 3%;
}

.alert-danger {
  background-color: #ef685e;
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 3%;
  justify-content: center;
  margin-left: 25%;
  display: flex;
  width: 50%;
}

.alert-success {
  background-color: #74b77f;
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 3%;
  justify-content: center;
  margin-left: 25%;
  display: flex;
  width: 50%;
}
.ButtonValider{
  margin-top: 2%;
}
