<h3 style="text-align: center;">Sujet</h3>
<div class="resume">
  <mat-list>
    <mat-list-item class="details-item">
      <mat-icon matListItemIcon>description</mat-icon>
      <div class="details-label" matListItemTitle>Description</div>
      <div class="details-value" matListItemLine>{{assignment?.description}}</div>
    </mat-list-item>
    <mat-list-item class="details-item">
      <mat-icon matListItemIcon>calendar_today</mat-icon>
      <div class="details-label" matListItemTitle>Date de publication</div>
      <div class="details-value" matListItemLine>{{assignment?.datePublication | date: 'EEE d MMMM y':
        'fr'}}</div>
    </mat-list-item>
    <mat-list-item class="details-item">
      <mat-icon matListItemIcon>calendar_today</mat-icon>
      <div class="details-label" matListItemTitle>Date limite</div>
      <div class="details-value" matListItemLine>{{assignment?.dateLimite | date: 'EEE d MMMM y':
        'fr'}}</div>
    </mat-list-item>
  </mat-list>

</div>
<mat-divider></mat-divider>


<h3 style="text-align: center;">Rendre mon devoir</h3>
@if(spinner2){
<div class="div-spinner2">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>
}
@else {
<div class="container">
  @if(ErreurMessage!=""){
  <div class="alert-danger">
    <p>{{ErreurMessage}}</p>
  </div>
  }
  @if(SuccessMessage!=""){
  <div class="alert-success">
    <p>{{SuccessMessage}}</p>
  </div>
  }
  @if(Formulaire){
  <mat-stepper [linear]="isLinear" #stepper class="">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Description du devoir</ng-template>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <textarea rows="4" matInput placeholder="La description" formControlName="firstCtrl" [(ngModel)]="description"
            required></textarea>
        </mat-form-field>
        <div class="button-suivant">
          <button mat-button color="primary" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Pièces jointes</ng-template>
        <input type="file" formControlName="secondCtrl" id="fichier" (change)="selectFile($event)" name="fichier"
          required />
        <div class="button">
          <div style="margin-top: 2%;">
            <button mat-button color="primary" matStepperPrevious>Retour</button>
            <button mat-button color="primary" (click)="stepper.reset()">Vider</button>
          </div>
          <button mat-raised-button (click)="Valider()" color="primary" class="valider" [disabled]="spinner"
            class="ButtonValider">
            Valider
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
  @if(spinner){
  <div class="div-spinner">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  }

  }
</div>
}
<button mat-button color="primary" style="margin-top: 2%;" (click)="goToListe()">Revenir à la liste</button>