<div>
    @if(isLoading){
    <div class="loading">
        <mat-spinner diameter="40" color="blue"></mat-spinner>
    </div>
    }@else{
    <div class="resume">
        <mat-list>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Résumé du devoir</div>
                <div class="details-value" matListItemLine>{{assignmentEleveTransmis?.assignment?.description + " à
                    rendre avant le " +(assignmentEleveTransmis?.assignment?.dateLimite | date: 'EEE d MMMM y': 'fr')}}
                </div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>person</mat-icon>
                <div class="details-label" matListItemTitle>Elève</div>
                <div class="details-value" matListItemLine>{{assignmentEleveTransmis?.eleve?.nom + "
                    "+assignmentEleveTransmis?.eleve?.prenom}}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Description</div>
                <div class="details-value" matListItemLine>{{assignmentEleveTransmis?.description }}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Matière</div>
                <div class="details-value" matListItemLine>{{assignmentEleveTransmis?.assignment?.matiere?.libelle}}
                </div>
            </mat-list-item>

            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>calendar_today</mat-icon>
                <div class="details-label" matListItemTitle>Date de rendu</div>
                <div class="details-value" matListItemLine>{{assignmentEleveTransmis?.dateRendu | date: 'EEE d MMMM y':
                    'fr' }}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Rendu</div>
                <div class="details-value" matListItemLine>{{ assignmentEleveTransmis?.rendu ? 'OUI' : 'NON' }}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>attach_file</mat-icon>
                <div class="details-label" matListItemTitle>Pièce jointe</div>
                <div class="details-value" matListItemLine><a mat-button (click)="telecharger()" >{{ assignmentEleveTransmis?.fichier }}</a></div>
            </mat-list-item>
            @if(assignmentEleveTransmis?.rendu){
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Note</div>
                <div class="details-value" matListItemLine>{{assignmentEleveTransmis?.note}}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Remarque</div>
                <div class="details-value" matListItemLine>{{assignmentEleveTransmis?.remarque}}</div>
            </mat-list-item>
            }
        </mat-list>

        <div class="button">
            <button mat-button (click)="goToListe()">Revenir à la liste</button>
            <button mat-flat-button color="primary" (click)="openDialog()">{{ assignmentEleveTransmis?.note ? "Changer la " :
                "Attribuer une " }}note</button>
        </div>
    </div>
    }
</div>