<mat-card class="card">
  <mat-card-content class="card-content">
  <mat-card-header class="h1">
    <h1>Login</h1>
  </mat-card-header>
    <mat-form-field class="example-full-width">
      <mat-label>Adresse-Email</mat-label>
      <input matInput placeholder="pat@example.com" [(ngModel)]="email" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="motdepasse" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-card-footer class="card-footer">
      @if(spinner){
      <div class="div-spinner">
        <mat-spinner  [diameter]="50"></mat-spinner>
    </div>
        }
        @if(ErreurMessage!=""){
          <div  class="alert-danger">
              <p>{{ErreurMessage}}</p>
          </div>
        }
    <div class="div-button" style="margin-bottom: 2%;">
          <button mat-raised-button color="primary" (click)="loginPost()" [disabled]="spinner">Se connecter</button>
    </div>
    <div class="div-button">
          <button mat-raised-button color="primary" (click)="redirecInscription()" [disabled]="spinner">Inscription</button>
    </div>
    </mat-card-footer>
  </mat-card-content>
</mat-card>

