.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:white;
  background-color: var(--primary);
  border-radius: 2%;
  margin-bottom: 5%;
}
.logo{
  justify-content: center;
}
.titre{
  justify-content: center;
}
button{
  width: 50%;
}
.card-content {
  width: 30%;
  padding: 20px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin-bottom: 2%;
}
.example-full-width {
  width: 100%;
}
.spinner
{
  height: 5%;
}
.div-spinner
{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.div-button{
  display: flex;
  justify-content: center;
}
.alert-danger {
  background-color: #ef685e;
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 3%;
  justify-content: center;
  display: flex;
}
