<mat-card class="card-content">
    <mat-card-content>
        <div class="container">
            <div class="photo">
                <div>
                    <img class="photo-image" alt="Photo enseignant"
                        src="{{img}}" width="200" height="200" />
                </div>
                <a routerLink="/accueil_Enseignant/modificationprofile">
                    <button mat-stroked-button color="primary">Modifier</button>
                </a>
            </div>
            <div class="information">
                <mat-list>
                    <mat-list-item class="details-item">
                        <mat-icon matListItemIcon>person</mat-icon>
                        <div class="details-label" matListItemTitle>Nom</div>
                        <div class="details-value" matListItemLine>{{ profile?.nom }}</div>
                    </mat-list-item>
                    <mat-list-item class="details-item">
                        <mat-icon matListItemIcon>person</mat-icon>
                        <div class="details-label" matListItemTitle>Prénom</div>
                        <div class="details-value" matListItemLine>{{ profile?.prenom }}</div>
                    </mat-list-item>
                    <mat-list-item class="details-item">
                        <mat-icon matListItemIcon>email</mat-icon>
                        <div class="details-label" matListItemTitle>Email</div>
                        <div class="details-value" matListItemLine>{{ profile?.email }}</div>
                    </mat-list-item>
                    <mat-list-item class="details-item">
                        <mat-icon matListItemIcon>description</mat-icon>
                        <div class="details-label" matListItemTitle>Matière</div>
                        <div class="details-value" matListItemLine>{{ matiere }}</div>
                    </mat-list-item>
                </mat-list>
                
            </div>
        </div>
    </mat-card-content>
</mat-card>