.consigne {
  font-family: "Ubuntu-Italic";
  font-size: 14px;
}

.spinner
{
  height: 5%;
}
.div-spinner
{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}
.filtre-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filtre{
  flex: auto;
  margin-right: 2%;
}

.alert-danger {
  background-color: #ef685e;
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 3%;
  justify-content: center;
  margin-top: 5%;
  margin-left: 25%;
  display: flex;
  width: 50%;
}

.alert-success {
  background-color: #74b77f;
  border-radius: 3%;
  justify-content: center;
  margin-left: 25%;
  display: flex;
  width: 50%;
}

.action-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
