.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.alert-danger {
  background-color: #ef685e;
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 3%;
  justify-content: center;
  display: flex;
}
.alert-success {
  background-color: #74b77f;
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 3%;
  justify-content: center;
  display: flex;
}
