<h1>Ajouter un nouveau devoir de {{matiere}}</h1>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Déscription du devoir</ng-template>
      <mat-form-field>
        <mat-label>Déscription</mat-label>
        <input matInput placeholder="La déscription" formControlName="firstCtrl" [(ngModel)]="description" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Date limite</ng-template>
      <mat-form-field>
        <mat-label>A rendre le:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="secondCtrl" [(ngModel)]="datelimite" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>retour</button>
        <button mat-button (click)="stepper.reset()">vider</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
@if(spinner){
  <div class="div-spinner">
    <mat-spinner  [diameter]="50"></mat-spinner>
</div>
}
@if(ErreurMessage!=""){
  <div  class="alert-danger">
      <p>{{ErreurMessage}}</p>
  </div>
}
@if(SuccessMessage!=""){
  <div class="alert-success">
      <p>{{SuccessMessage}}</p>
   </div>
}
<button mat-raised-button (click)="Valider()"color="primary" [disabled]="spinner">Valider</button>
