.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.h1{
  display: flex;
  justify-content: center;
}
.card-footer{

}
button{
  width: 50%;
}
.card-content {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.example-full-width {
  width: 100%;
}
.spinner
{
  height: 5%;
}
.div-spinner
{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.div-button{
  display: flex;
  justify-content: center;
}
.alert-danger {
  background-color: #ef685e;
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 3%;
  justify-content: center;
  display: flex;
}
.alert-success {
  background-color: #36f456;
}
