<p class="consigne">
  Choisissez une description, une matière et une plage de dates pour filtrer vos devoirs
  selon leur date de publication
</p>
<div class="filtre-container">
  <mat-form-field class="filtre">
    <mat-label>Description</mat-label>
    <input matInput  [(ngModel)]="filtre.description" (ngModelChange)="filtre_()" />
  </mat-form-field>
  <mat-form-field class="filtre">
    <mat-label>Matière</mat-label>
    <mat-select [(ngModel)]="filtre.idMatiere" (selectionChange)="filtre_()">
      <mat-option value="all">Toutes</mat-option>
  
      @for (matiere of matieres; track matieres) {
      <mat-option [value]="matiere._id">{{ matiere.libelle }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filtre">
    <mat-label>Etat</mat-label>
    <mat-select [(ngModel)]="filtre.rendu" (selectionChange)="filtre_()">
      <mat-option value="all"></mat-option>
      <mat-option value="OUI">OUI<mat-icon class="rendu" >check</mat-icon></mat-option>
      <mat-option value="NON">NON<mat-icon class="non-rendu" >close</mat-icon></mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filtre">
    <mat-label>Date de début </mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="filtre.dateDebut" (ngModelChange)="filtre_()" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="filtre">
    <mat-label>Date de fin</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="filtre.dateFin" (ngModelChange)="filtre_()" />
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>

@if(ErreurMessage!=""){
<div class="alert-danger">
  <p>{{ErreurMessage}}</p>
</div>
}
@if(SuccessMessage!=""){
<div class="alert-success">
  <p>{{SuccessMessage}}</p>
</div>
}
<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="totalDocs"
  [pageSize]="limit" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25]" [pageIndex]="page"
  aria-label="Select page">
</mat-paginator>
@if(spinner){
<div class="div-spinner">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
}
<table mat-table [dataSource]="assignmentEleves" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description de mon devoir</th>
    <td mat-cell *matCellDef="let a">{{ a.description }}</td>
  </ng-container>

  <ng-container matColumnDef="matiere">
    <th mat-header-cell *matHeaderCellDef>Matière</th>
    <td mat-cell *matCellDef="let a">{{ a.assignment.matiere.libelle }}</td>
  </ng-container>

  <ng-container matColumnDef="professeur">
    <th mat-header-cell *matHeaderCellDef>Professeur</th>
    <td mat-cell *matCellDef="let a">
      {{ a.assignment.matiere.professeur.nom }}
      {{ a.assignment.matiere.professeur.prenom }}
    </td>
  </ng-container>

  <ng-container matColumnDef="dateRendu">
    <th mat-header-cell *matHeaderCellDef>Date de rendu</th>
    <td mat-cell *matCellDef="let a">
      {{ a.dateRendu | date : "MMM d, y, H:mm " }}
    </td>
  </ng-container>

  <ng-container matColumnDef="descriptionDevoir">
    <th mat-header-cell *matHeaderCellDef>Description du devoir</th>
    <td mat-cell *matCellDef="let a">
      {{ a.assignment.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="rendu">
    <th mat-header-cell *matHeaderCellDef>Rendu</th>
    <td mat-cell *matCellDef="let a">
      @if(a.rendu){<mat-icon class="rendu" >check</mat-icon>}
      @else{<mat-icon  class="non-rendu" >close</mat-icon>}
    </td>
  </ng-container>
  <ng-container matColumnDef="fichier">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let a">
      @if(a.fichier){<mat-icon> attach_file</mat-icon>}
    </td>
  </ng-container>

  <ng-container matColumnDef="modification">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let a">
      <a routerLink="/accueil_Etudiant/detailassignmenteleve/{{a._id}}"
        [queryParams]="{titre: titreDestination}"><button disabled="false" mat-icon-button matTooltip="Voir les détails" matTooltipPosition="above" color="primary"><mat-icon>assignment</mat-icon></button></a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>