<h2 mat-dialog-title>Attribution de note</h2>
<mat-dialog-content class="dialog-content" >
  <mat-form-field>
    <mat-label>Note</mat-label>
    <input matInput type="number" [(ngModel)]="data.note">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Remarque</mat-label>
    <textarea rows="5" matInput [(ngModel)]="data.remarque" ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="button-footer" >
  <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Valider</button>
  <button mat-button (click)="onNoClick()">Annuler</button>
</mat-dialog-actions>
