<div>
    @if(isLoading) {
    <div class="loading">
        <mat-spinner diameter="40" color="blue"></mat-spinner>
    </div>
    } @else {
    <h3 style="text-align: center;">Résumé du devoir</h3>
    <div class="resume">
        <mat-list>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Description</div>
                <div class="details-value" matListItemLine>{{assignmentTransmis?.description}}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>description</mat-icon>
                <div class="details-label" matListItemTitle>Matière</div>
                <div class="details-value" matListItemLine>{{assignmentTransmis?.matiere?.libelle}}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>calendar_today</mat-icon>
                <div class="details-label" matListItemTitle>Date limite</div>
                <div class="details-value" matListItemLine>{{assignmentTransmis?.dateLimite | date: 'EEE d MMMM y':
                    'fr'}}</div>
            </mat-list-item>
            <mat-list-item class="details-item">
                <mat-icon matListItemIcon>calendar_today</mat-icon>
                <div class="details-label" matListItemTitle>Date de publication</div>
                <div class="details-value" matListItemLine>{{assignmentTransmis?.datePublication | date: 'EEE d MMMM y':
                    'fr'}}</div>
            </mat-list-item>
        </mat-list>

    </div>
    <mat-divider></mat-divider>
    <h3 style="text-align: center;">Devoir des élèves</h3>
    <div class="custom-button-toggle">
        <mat-chip-listbox (change)="onChipSelect($event)" aria-label="Mode affichage">
            <mat-chip-option value="table" [selected]="modeAffichage === 'table'">Table</mat-chip-option>
            <mat-chip-option value="dragndrop" [selected]="modeAffichage === 'dragndrop'">Drag'n'drop</mat-chip-option>
        </mat-chip-listbox>
    </div>
    @if(modeAffichage === "table"){

    <table mat-table [dataSource]="assignmentEleves" class="mat-elevation-z8  demo-table">

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="eleve">
            <th mat-header-cell *matHeaderCellDef> Elève </th>
            <td mat-cell *matCellDef="let element"> {{element?.eleve?.nom +" "+element?.eleve?.prenom}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="rendu">
            <th mat-header-cell *matHeaderCellDef> Rendu </th>
            <td mat-cell *matCellDef="let element">
                @if (element.rendu) {
                <mat-icon class="rendu">check</mat-icon>
                } @else {
                <mat-icon class="non-rendu">close</mat-icon>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="fichier">
            <th mat-header-cell *matHeaderCellDef> Fichier </th>
            <td mat-cell *matCellDef="let element">
                @if(element.fichier){
                <button mat-icon-button (click)="telecharger(element)" aria-label="Telechargement du fichier"
                    matTooltip="Télécharger le fichier">
                    <mat-icon>attach_file</mat-icon>
                </button>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="goToDetailAssignmentEleve(element._id)">Voir
                    détails</button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }@else {
    <div class="dragndrop-container" cdkDropListGroup>
        <div class="example-container">
            <h2>Non Rendu</h2>

            <div cdkDropList [cdkDropListData]="assignmentEleveNonRendus" class="example-list"
                (cdkDropListDropped)="drop($event)" #nonRenduList="cdkDropList">
                @for (item of assignmentEleveNonRendus; track item) {
                <div class="example-box" cdkDrag [cdkDragData]="item">{{item.description}}</div>
                }
            </div>
        </div>

        <div class="example-container">
            <h2>Rendu</h2>

            <div cdkDropList [cdkDropListData]="assignmentEleveRendus" class="example-list"
                (cdkDropListDropped)="drop($event)" cdkDropListOrientation="vertical"
                [cdkDropListConnectedTo]="[nonRenduList]">
                @for (item of assignmentEleveRendus; track item) {
                <div class="example-box" cdkDrag [cdkDragData]="item">{{item.description}}</div>
                }
            </div>
        </div>
    </div>

    }
    <div class="retour">
        <button mat-button (click)="goToListe()" color="primary">Revenir à la liste</button>
    </div>


    }


</div>