<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="photo">
        <div>
          <img
            class="photo-image"
            alt="Photo étudiant"
            src="{{ img }}"
            width="250"
            height="250"
          />
        </div>
        <!-- <div class="photo-bouton">
                  <span>CHANGER L'IMAGE</span>
              </div> -->
      </div>
      <div class="information">
        <div class="information-item">
          <div class="information-item__label">Nom:</div>
          <div class="information-item__value">{{ profile?.nom }}</div>
        </div>

        <div class="information-item">
          <div class="information-item__label">Prénom:</div>
          <div class="information-item__value">{{ profile?.prenom }}</div>
        </div>

        <div class="information-item">
          <div class="information-item__label">Adresse-Mail:</div>
          <div class="information-item__value">{{ profile?.email }}</div>
        </div>
        <a routerLink="/accueil_Etudiant/modifier_profile">
          <button mat-stroked-button color="primary">Modifier</button></a
        >
      </div>
    </div>
  </mat-card-content>
</mat-card>
